.AlreadyParticipating {
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: center;
  gap: 1rem;
  justify-content: space-between;
  padding: 16px;
}

.AlreadyParticipatingContent {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.AlreadyParticipatingMessage {
  font-size: 1.5rem;
  font-weight: 500;
  text-align: center;
}

.TryAgainButton {
  background-color: var(--color-primary);
  border: none;
  cursor: pointer;
}
